<br>
<div class="card">
    <div class="card-heading">
        <div class="card-title offset-md-1">
            <br>
            <h3>{{title}}</h3>
        </div>
    </div>
    <div class="card-body">
        <form novalidate [formGroup]="addLessonForm" (ngSubmit)="addLesson()">
            <div class="container">
                <fieldset>
                    <!-- Subject -->
                    <div formGroupName="subject">
                        <!-- Category -->
                        <div class="row rowPadding">
                            <div class="col-md-3">
                                <label class="control-label addLessonLabel" for="CategoryId">Category</label>
                            </div>
                            <div class="col-md-9 ">
                                <select class="custom-select" formControlName="category" id="CategoryId" (change)="setNames($event.target.value)">
                                    <option *ngIf="!addLessonForm.get('subject.category').dirty" value="0">Select Category</option>
                                    <option *ngFor="let category of categories" [ngValue]="category">{{category}}</option>
                                </select>
                            </div>
                        </div>
                        <!-- Name -->
                        <div class="row rowPadding">
                            <div class="col-md-3">
                                <label class="control-label addLessonLabel" for="NameId">Name</label>
                            </div>
                            <div class="col-md-9 ">
                                <select class="custom-select" formControlName="name" id="NameId">
                                    <option *ngIf="addLessonForm.get('subject.category').value == '0'" value="0">Select category to select name</option>
                                    <option *ngFor="let name of names" [ngValue]="name">{{name}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <!-- Grade -->
                    <div class="row rowPadding">
                        <div class="col-md-3">
                            <label class="control-label addLessonLabel" for="GradeId">Grade</label>
                        </div>
                        <div class="col-md-9 ">
                            <select class="custom-select" formControlName="grade" id="GradeId">
                                <option *ngIf="addLessonForm.get('grade').dirty == '0'" value="0">Select grade</option>
                                <option *ngFor="let grade of grades" [ngValue]="grade">{{grade}}</option>
                            </select>
                        </div>
                    </div>
                    <!-- PricePerHour -->
                    <div class="row rowPadding">
                        <div class="col-md-3">
                            <label class="control-label addLessonLabel" for="PricePerHourId">Price Per Hour</label>
                        </div>
                        <div class="col-md-9">
                            <input class="form-control" formControlName="pricePerHour" type="number" id="PricePerHourId" placeholder="0.00" />
                        </div>
                    </div>
                    <div>
                        <span *ngIf="addLessonError" style="color:red;">{{errorMessage}}</span>
                        <span *ngIf="addLessonSuccess" style="color:green;">{{successMessage}}</span>
                        <br>
                    </div>

                </fieldset>
            </div>
            <div class="offset-md-5">
                <button type="submit" [disabled]="addLessonForm.invalid" class="btn btn-primary">Add</button>
            </div>
        </form>
    </div>
</div>