<!-- <br>
<br>
<div class="card">
    <div class="card-header">
        <div class="card-title">
            <br>
            <h3>{{title}}</h3>
        </div>
    </div>
    <div class="card-body">
        <table class="table table-bordered col-md-10">
            <thead >
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Fullname</th>
                    <th scope="col">Lessons</th>
                    <th scope="col">Address</th>
                </tr>
            </thead>
            <tbody>
                <tr scope="row" *ngFor="let teacher of teachers;let i=index;">
                    <td>{{i+1}}</td>
                    <td>{{teacher.fullname}}</td>
                    <td>
                        <ng-container *ngIf="teacher.lessons.length!==0;else otherContent">
                            <table class="table">
                                <thead>
                                    <th scope="col">Lesson Subject</th>
                                    <th scope="col">Level</th>
                                    <th scope="col">Price Per Hour</th>
                                    <th scope="col">Enroll</th>
                                    <button type="button" class="btnSmall btn btn-primary moveBtnRight" (click)="toggleProperTable(i)">ToggleMe</button>
                                </thead>

                                <tbody *ngIf="isTableToggled[i]">
                                    <tr scope="row" *ngFor="let lesson of teacher.lessons;">
                                        <td>{{lesson.subject.category}} {{lesson.subject.name}}</td>
                                        <td>{{lesson.grade}}</td>
                                        <td>{{lesson.pricePerHour | currency:'USD':'symbol':'1.2-2'}}/h</td>
                                        <td>
                                            <button type="button" class="btnSmall btn btn-success">Enroll</button>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </ng-container>
                        <ng-template #otherContent>No Lessons to display</ng-template>
                    </td>
                    <td>{{teacher.address}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div> -->
test
<mat-table [dataSource]="dataSource">
  <!-- Name Column -->
    <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef> Email </th>
        <td mat-cell *matCellDef="let tes"> {{ tes.email }} </td>
    </ng-container>
<!-- 
     DateOfBirth Column 
    <ng-container matColumnDef="dateOfBirth">
        <th mat-header-cell *matHeaderCellDef> Date Of Birth </th>
        <td mat-cell *matCellDef="let teacherGridModel"> {{ teacherGridModel.details.dateOfBirth }} </td>
    </ng-container>

     DateOfBirth Column 
    <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef> Title </th>
        <td mat-cell *matCellDef="let teacherGridModel"> {{ teacherGridModel.details.title }} </td>
    </ng-container>

     DateOfBirth Column 
    <ng-container matColumnDef="fieldOfStudy">
        <th mat-header-cell *matHeaderCellDef> Field Of Study </th>
        <td mat-cell *matCellDef="let teacherGridModel"> {{ teacherGridModel.details.fieldOfStudy }} </td>
    </ng-container> -->

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</mat-table>
