<br>
<div class="card">
    <div class="card-header">
        <div class="card-title offset-md-1">
            <br>
            <h3>{{title}}</h3>
        </div>
    </div>
    
    <div class="card-body">
        <form novalidate [formGroup]="editPasswordForm" (ngSubmit)="changePassword()">
            <fieldset>
                <!-- current password -->
                <div class="form-group">
                    <label class="control-label" for="currPasswordLoginId">Current Password</label>
                    <div>
                        <input class="form-control" formControlName="currPassword" [type]="showPassword.checked ? 'text' : 'password'" id="currPasswordLoginId"/>
                    </div>
                </div>
                <div formGroupName="passwordGroup">
                    <!-- new password -->
                    <div class="form-group">
                        <label class="control-label" for="newPasswordLoginId">New Password</label>
                        <div>
                            <input class="form-control" formControlName="password" [type]="showPassword.checked ? 'text' : 'password'" id="newPasswordLoginId"/>
                        </div>
                    </div>
                    <!-- new password -->
                    <div class="form-group">
                        <label class="control-label" for="confirmNewPasswordLoginId">Confirm New Password</label>
                        <div>
                            <input class="form-control" formControlName="confirmPassword" [type]="showPassword.checked ? 'text' : 'password'" id="confirmNewPasswordLoginId"
                            />
                        </div>
                        <div class="text-danger" *ngIf="timeToCheck && editPasswordForm.get('passwordGroup').errors?.notEqual">Password and confirm password must match</div>
                    </div>
                </div>
                <span *ngIf="changePasswordError" style="color:red;">{{errorMessage}}</span>
                <span *ngIf="changePasswordSuccess" style="color:green;">{{successMessage}}</span>
                <br>
                <mat-checkbox type="checkbox" #showPassword>Show/Hide</mat-checkbox>
            </fieldset>
            <div class="offset-md-5">
                <button type="submit" [disabled]="editPasswordForm.invalid" class="btn btn-primary">Save</button>
            </div>
        </form>
    </div>
</div>