<app-login></app-login>

<br>
<div class="card offset-md-4 col-md-4">
    <div class="card-header">
        <div class="card-title">
            <br>
            <h3>{{pageTitle}}</h3>
        </div>
    </div>
    <div class="card-body">
        <form novalidate [formGroup]="signUpForm" (ngSubmit)="saveUser()">
            <fieldset>
                <!-- Username -->
                <div class="form-group">
                    <label class="control-label" [ngClass]="addTextDangerIfErrors('username')" for="usernameId">Username</label>
                    <div>
                        <input class="form-control" formControlName="username" [ngClass]="addIsInvalidIfErrors('username')" type="text" id="usernameId"
                            placeholder="Username (required)" />
                        <div *ngIf="isRequired('username')" class="text-danger">Username is required</div>
                    </div>
                </div>

                <!-- Email Group -->
                <div formGroupName="emailGroup" [ngClass]="addAlertDangerIfNotMatching('emailGroup','emailGroup.confirmEmail')">
                    <!-- Email -->
                    <div class="form-group">
                        <label class="control-label" [ngClass]="addTextDangerIfErrors('emailGroup.email')" for="emailId">Email</label>
                        <div>
                            <input class="form-control" formControlName="email" [ngClass]="addIsInvalidIfErrors('emailGroup.email')"
                                type="text" id="emailId" placeholder="Email (required)" />
                            <div *ngIf="isRequired('emailGroup.email')" class="text-danger">Email is required</div>
                            <div *ngIf="isMatchingEmailPattern('emailGroup.email')" class="text-danger">Invalid Format of an Email</div>
                        </div>
                    </div>

                    <!-- Confirm Email -->
                    <div class="form-group">
                        <label class="control-label" for="comfirmEmailId">Confirm Email</label>
                        <div>
                            <input class="form-control" formControlName="confirmEmail" type="text" id="comfirmEmailId" placeholder="Confirm Email (required)"
                            />
                        </div>
                    </div>
                    <div class="text-danger" *ngIf="signUpForm.get('emailGroup').errors?.notEqual && signUpForm.get('emailGroup.confirmEmail').touched">Email and Confirm Email do not Match</div>
                </div>

                <!-- Password Group -->
                <div formGroupName="passwordGroup" [ngClass]="addAlertDangerIfNotMatching('passwordGroup','passwordGroup.confirmPassword')">
                    <!-- Password -->
                    <div class="form-group">
                        <label class="control-label" [ngClass]="addTextDangerIfErrors('passwordGroup.password')" for="passwordId">Password</label>
                        <div>
                            <input class="form-control" [type]="showPasswordSignup.checked ? 'text' : 'password'" [ngClass]="addIsInvalidIfErrors('passwordGroup.password')"
                                formControlName="password" type="text" id="passwordId" placeholder="Password (required)" />
                            <div class="text-danger" *ngIf="isRequired('passwordGroup.password')">Password is required</div>
                        </div>
                    </div>

                    <!-- Confirm Password -->
                    <div class="form-group">
                        <label class="control-label" for="confirmPasswordId">Confirm Password</label>
                        <div>
                            <input class="form-control" [type]="showPasswordSignup.checked ? 'text' : 'password'" formControlName="confirmPassword" type="text" id="confirmPasswordId" placeholder="Confirm Password (required)"
                            />
                        </div>
                        <mat-checkbox #showPasswordSignup>Show/Hide</mat-checkbox>
                    </div>
                    <div class="text-danger" *ngIf="signUpForm.get('passwordGroup').errors?.notEqual && signUpForm.get('passwordGroup.confirmPassword').touched">Password and confirm password must match</div>
                </div>

                <!-- Basic Checkbox -->
                <div class="form-group">
                    <input type="checkbox" id="agreeId" formControlName="agreementOne">
                    <span class="help-block checkboxText">I aggree to lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate quibusdam aut maxime reprehenderit
                        numquam eos quam voluptas incidunt odit accusantium velit hic facilis quaerat aperiam, ducimus consequuntur
                        omnis doloribus blanditiis.</span>
                    <div class="text-danger" *ngIf="!signUpForm.get('agreementOne').value && signUpForm.get('agreementOne').touched">You have to agreee to specified conditon</div>
                </div>
            </fieldset>
            <div class="offset-md-4 col-md-4">
                <button class="btn btn-primary" [disabled]="signUpForm.invalid" type="submit">Sign Up</button>
            </div>
        </form>
    </div>
</div>
{{signUpForm.invalid}}